@model Backend.Models.Color
@{
    ViewData["Title"] = "Add Color";
}

<h1>Create Color</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Color Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-3">Save</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
</form>
